body {
  --primaryBgCol: 49, 51, 57;
  --primaryBgAlpha: 0.8;
  --secondaryBg: rgba(42, 45, 50, 1);
  --tertiaryBg: rgba(31, 31, 34, 1);
  --hoverPrimary: var(--black30a);
  --selected: var(--grey5050a);
}
